/*=====================================
     Required styles for txt animation
=====================================*/

.txt-animate>span>span {
	display: inline-flex;
	transform: translateY(100%);
	transition:1000ms cubic-bezier(.23, 1, .32, 1); all;
}

.txt-animate>span {
	display:inline-flex;
	overflow:hidden;
}


/*===============
     Global
===============*/

body {
	margin:0;
	background-color: #f5e4d5;
	font-family: 'Martel Sans', sans-serif;
}

h1 {
	font-family: 'Lora', sans-serif;
	font-size:32px;
	color:#184C7E;
	max-width:300px;
}

p {
	font-size:14px;
	color:#78C5FF;
	text-align:justify;
}


/*===============
     Hero
===============*/

.hero {
	display:grid;
	height: 100vh;
	width:100%;
	grid-gap: 0;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:"content photo"
}

.hero-content {
	grid-area:content;
	background-color:white;
	padding:10% 10% 0 10%;
}

.underline {
	width:100px;
	max-width:90%;
	height:10px;
	background-color:#18E29C;
	margin-top:5vh;
}

.hero-photo {
	grid-area:photo;
	background-image: url(../img/hero-photo.png);
	background-size:cover;
	background-position: center;
}


/*===============
     Footer
===============*/

.footer {
	display:grid;
	height: 50vh;
	width:100%;
	grid-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background-color:#174A7B;
	background-image:url(../img/Travel-Pattern.png);
	background-repeat: repeat;
	background-size:200px;
	
}

.footer h2 {
	width:50vw;
	text-align:center;
	justify-self:center;
	align-self:center;
	font-size:80px;
	color:white;
	line-height:1.2;
}


/*===============
     Mobile
===============*/

@media (max-width:992px) {
	.hero {
		height: 200vh;
		grid-template-areas:"photo"
							"content";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.footer {
		height:100vh;
	}
}